Webservice/iinterchange/iTankDepo/PhotoViewer/App_WebReferences/iTankDepoService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/iTankDepoUI/service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/iTankDepoUI/service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/iTankDepoUI/service.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iservice_GetAttachmentsByRepairEstimateNo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttachmentsByRepairEstimateNo" />
  </wsdl:message>
  <wsdl:message name="Iservice_GetAttachmentsByRepairEstimateNo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttachmentsByRepairEstimateNoResponse" />
  </wsdl:message>
  <wsdl:message name="Iservice_GetAttachmentsByActivityName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttachmentsByActivityName" />
  </wsdl:message>
  <wsdl:message name="Iservice_GetAttachmentsByActivityName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttachmentsByActivityNameResponse" />
  </wsdl:message>
  <wsdl:portType name="Iservice">
    <wsdl:operation name="GetAttachmentsByRepairEstimateNo">
      <wsdl:input wsaw:Action="http://tempuri.org/Iservice/GetAttachmentsByRepairEstimateNo" message="tns:Iservice_GetAttachmentsByRepairEstimateNo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iservice/GetAttachmentsByRepairEstimateNoResponse" message="tns:Iservice_GetAttachmentsByRepairEstimateNo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentsByActivityName">
      <wsdl:input wsaw:Action="http://tempuri.org/Iservice/GetAttachmentsByActivityName" message="tns:Iservice_GetAttachmentsByActivityName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iservice/GetAttachmentsByActivityNameResponse" message="tns:Iservice_GetAttachmentsByActivityName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Iservice" type="tns:Iservice">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAttachmentsByRepairEstimateNo">
      <soap:operation soapAction="http://tempuri.org/Iservice/GetAttachmentsByRepairEstimateNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentsByActivityName">
      <soap:operation soapAction="http://tempuri.org/Iservice/GetAttachmentsByActivityName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service">
    <wsdl:port name="BasicHttpBinding_Iservice" binding="tns:BasicHttpBinding_Iservice">
      <soap:address location="http://localhost/iTankDepoUI/service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>